/* minimal css reset */
html, body, div, h1, h2, h3, a, p, img, dl, dt, dd, ul, li {
padding: 0px;
margin: 0;
border: 0;
outline: 0;
color: black;
}
html{
font-size: 10px;
overflow-x: hidden;
}
body {
background-size: 100% 100%;
background-color: white;
font-family: 'Frank Ruhl Libre', serif;
/* font-family: 'Canela Web'; */
font-size: 2rem;
/* font-size: 1rem; */
font-weight: 400;
}

a:hover{
color:#ccece6 !important;
transition: all 0.5s ease;
text-decoration: none !important;
}

#right-column {
-webkit-flex-grow: 1;
flex-grow: 1;
max-width: 350px;
margin-right: 1rem;
}

#container {
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
margin: 0 auto;
margin-top: 6rem;
max-width: 1200px;
}
#graph {
max-width: 850px;
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
height: 100vh;
-webkit-flex-direction: column;
flex-direction: column;
-webkit-justify-content: flex-start;
justify-content: flex-start;
will-transform: translate;
transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
}
#conclusion{
max-width: 640px;
margin: 0 auto;
margin-bottom: 6rem;
margin-top: 90px;
}
.conclusion{
margin-top: 10rem;
margin-bottom:5rem;
}
#action{
margin-top: 15rem;
}

#thankyou{
margin-top: 10rem;
text-align: center;
}
.graph-title {
width: auto;
font-size: 1.8rem;
color: rgb(0, 0, 0);
text-transform: capitalize;
}
#graph svg{
-webkit-order: 1;
paint-order: 1;
}
.intro-section {
 margin: 0 auto;
 margin-bottom: 50px;
 padding-bottom: 30px;
 background-color: #f3f3f3;
 }
 #header-img, #header-img-mobile{
   width:250px;
   height:90px;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
.intro-prose{
  padding: 10px 20%;
}
.headline-section{
max-width: 70rem;
margin: 0 auto;
}
.headline-big {
text-align: center;
font-family: 'Frank Ruhl Libre', serif;
margin: 0px;
font-size: 4rem;
font-weight: 700;
margin-top: 0px;
color: #2a2a2a;
padding-top: 4rem;
}
.headline-small {
font-size: 16px;
text-align: center;
font-family: 'Frank Ruhl Libre', serif;
margin: 0px;
font-size: 1.5rem;
font-weight: 100;
text-align: center;
margin-top: 20px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: .1em;
color: #2a2a2a;
}
.section-title {
font-family: 'Frank Ruhl Libre', serif;
font-weight: 700;
font-size: 1.1rem;
max-width: 40rem;
margin: 0 auto;
color: rgba(0,0,0,.90);
text-transform: capitalize;
margin-top: 6rem;
padding: 1rem 1.5rem;
padding-bottom: .2rem;
}
.byline {
font-size: 2rem;
text-align: center;
font-family: 'Frank Ruhl Libre', serif;
font-weight: 400;
margin-bottom: 40px;
}
.byline-section {
margin-top: 3rem;
}
.right-column-prose {
font-size: 2rem;
line-height: 1.5;
padding: 15rem 1.5rem;
/* font-family: 'Atlas Grotesk Web'; */
font-family: 'Frank Ruhl Libre', serif;
color: #272727;
font-weight: normal;
}
.section-title{
background: #f3f3f3;
border-left: 2px solid rgba(107, 107, 107, 0.89);
font-size: 3rem;
}

@media screen and (max-width: 800px) {

  #right-column {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

  }
  .right-column-prose{
    font-size: 1.7rem;
  }

  #graph {
    max-width: 450px;
  }

}

@media screen and (max-width: 650px) {

  #right-column {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;

  }
  .right-column-prose{
    font-size: 1.6rem;
  }

  #graph {
    max-width: 350px;
  }

}

@media screen and (min-width: 501px) {
  .highlighted{
    transition: 250ms;
    color: #000000;
    background: #f3f3f3;
  }
}

@media screen and (max-width: 500px) {

  .highlighted {
    transition: 250ms;
    background: none;
  }
}
.tooltip {
position: absolute;
top: 100px;
left: 100px;
-moz-border-radius:5px;
border-radius: 5px;
border: 2px solid #000;
background: #fff;
opacity: .9;
color: black;
padding: 10px;
font-size: 12px;
z-index: 10;
}

.tooltip .commonName{
color:white;
font-size:14px;
}

.grid line {
stroke: lightgrey;
stroke-opacity: 0.7;
shape-rendering: crispEdges;
}

.bold{
  font-weight: 700;
}

#annotate {
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-order: 5;
  order: 5;
  text-align: center;
  width: 100%;
  opacity:0;
}

.annotate-attr {
color: #383838;
margin-top: 15px;
}

/* #menu_wrapper{
  height:0px;
} */

#menu{
  background:#444;
  height:550px;
  margin-top:-540px;
  color: white;
  position:relative;
  z-index: 100;
}
#menu p{
  position: absolute;
  color: white !important;
  font-size: 1.3rem;
  padding-top: 20px;
  bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
#menu_btn{
  cursor:pointer;
  background:#444;
  padding:5px 20px;
  position:absolute;
  bottom:-30px;
  left:30px;
  color: white;
}

#button_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  position: relative;
}
#button_wrapper > button {
  margin: 0px 8px;
}
#button_wrapper :first-child {
  margin: 0 8px 0 0;
}

#button_wrapper2{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  position: relative;
  margin-top: 10rem;
}

.button {
  position: static;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 0 15px;
  line-height: 28px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  border: 1px solid #11d3bc;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  outline: none;
}

.button_progress {
  background: repeating-linear-gradient(-45deg, #fff, #fff 10px, #11d3bc 10px, #11d3bc 20px);
  color: #222831;
  -webkit-animation: AnimationProgress 5s linear infinite;
          animation: AnimationProgress 5s linear infinite;
  background-size: 400% 400%;
}
.button:active {
  background-color: #11d3bc;
  color: #fff;
  opacity: .3;
}
.button_disabled {
  color: gray;
  cursor: default;
  background-color: #eeeeee;
}
.button_disabled:active {
  opacity: 1;
  color: gray;
  background-color: #eeeeee;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #222;
  padding: 10px 15px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  transition: all 1s ease;
}

.btn a {
  position: relative;
  z-index: 1;
  color: white;
}

.btn:hover, .btn a:hover{
  color:black !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.btn:focus, a:focus {
  outline: none !important;
  text-decoration: none !important;
}


#headline-mobile{
  position: absolute;
  top:0px;
}

#mobile-content{
  padding-top: 20px;
  padding-left:20px;
}

#intro-mobile{
  font-size: 1.3rem;
  padding-top: 20px;
  bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#title-mobile{
  text-align: center;
  font-family: 'Frank Ruhl Libre', serif;
  margin: 0px;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0px;
  color: #2a2a2a;
  padding-top: 2rem;
}

/* Tooltip text */
.reference .text {
	visibility: hidden;
	max-width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	font-size:14px;
	/* Position the tooltip text - see examples below! */
	position: absolute;
  margin-top: 30px;
	z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.reference:hover .text {
	visibility: visible;
}

.reference-color{
  background-color:#ccece6;
	font-weight:600;
	border-radius:5px;
	padding-left:3px;
	padding-right:3px;
}

.box{
  position:relative;
}

.img-title{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  bottom: -50px;
  font-size:1.6rem;
}

.portfolio-modal .modal-content {
		border-radius: 0;
		background-clip: border-box;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: 0;
		min-height: 100%;
		padding: 100px 0;
		text-align: center
	}
	.portfolio-modal .modal-content h2 {
		margin-bottom: 15px;
		font-size: 3em
	}
	.portfolio-modal .modal-content p {
		margin-bottom: 30px
	}
	.portfolio-modal .modal-content p.item-intro {
		margin: 20px 0 30px;
		font-style: italic;
		font-size: 16px
	}
	.portfolio-modal .modal-content ul.list-inline {
		margin-bottom: 30px;
		margin-top: 0
	}
	.portfolio-modal .modal-content img {
		margin-bottom: 30px
	}
	.portfolio-modal .close-modal {
		position: absolute;
		width: 75px;
		height: 75px;
		background-color: transparent;
		top: 25px;
		right: 25px;
		cursor: pointer
	}
	.portfolio-modal .close-modal:hover {
		opacity: .3
	}
	.portfolio-modal .close-modal .lr {
		height: 75px;
		width: 1px;
		margin-left: 35px;
		background-color: #222;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		z-index: 1051
	}
	.portfolio-modal .close-modal .lr .rl {
		height: 75px;
		width: 1px;
		background-color: #222;
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		z-index: 1052
	}
	.portfolio-modal .modal-backdrop {
		opacity: 0;
		display: none
	}
